h1{
   box-shadow: 0 0 5px rgba(0,0,0,0.8); 
   background-color: #E6E6FA;
  -moz-text-shadow:0 0 10px #c00; 
   -webkit-text-shadow:0 0 10px #c00;
   text-shadow:0 0 10px #c00;
}
.div1 {
   weight:300px;
   height:200px;
   background-color: #7FFFD4;
}
.div2 {
   weight:300px;
   height:200px;
   background-color: #40E0D0;
}
.div3 {
   weight:300px;
   height:200px;
   background-color: #00CED1;
} 
 
