h1{
   box-shadow: 0 0 5px rgba(0,0,0,0.8); 
   background-color: #808080;
   text-shadow: red 1px 1px 0, red -1px -1px 0, 
                 red -1px 1px 0, red 1px -1px 0;
}
.div1 {
   weight:300px;
   height:200px;
   background-color: #7FFFD4;
   border-top:1px solid #9EC1D4;
   border-bottom: dotted 1px #9EC1D4;
   padding-left:10px"
}
.div2 {
   weight:300px;
   height:200px;
   background-color: #40E0D0;
}
.div3 {
   weight:300px;
   height:200px;
   background-color: #00CED1;
} 
 
